  .swiper {
    width: 100%;
    padding-top: 20px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
  }
  .main-swiper{
    background-color: rgb(212, 212, 208) !important;
    height: 50vh;
    display: flex;
    padding-bottom: 2rem;
  }