.filters {
    height: 90%;
    display: flex;
    flex-direction: column;
    margin: 1.3rem;
    justify-content: space-between;
    align-content: center ;
    align-items: center;
}

.filter {
    padding-top: 1rem;
    margin: 1.3rem;
    width: 300px;
    height: 700px;
    /* border: solid 0.1px rgb(82, 82, 82); */
    border-radius: 0.9rem;
    box-shadow: 4px 6px 9px 1px rgb(112, 112, 112);
}

.title {
    font-weight: bold;
    font-size: 26px;
}