@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import './cssReset.css';

:root {
  --main-color: #0A20E6;
  --text-color: #2f3643;
  --second-text-color: #848c95;
  --container-color: #FFF;
  --background-color: #F6F7F9;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  background-color: var(--background-color);
  max-width: 1160px;
  margin: 0 auto;
  /*   min-height : 100vh;
 */
}
body{
  background-color: var(--background-color);
}

