*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.formLogin{
  width: 50%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.formLogin h1{
  font-size: 30px;
  font-weight: bold;
}
.signPage{
  background-color: #000;
  display: flex;
}
.signImg{
  width: 30%;
  height: 100vh;
  background-image: url(/public/images/2.jpg);
  background-size: cover;
  background-position: left;
  display: flex;
  justify-content: center;
  position: relative;
}
.decs{
  color: #fff;
  font-size: 30px;
  width: 80%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 25px;
}
.decs h2{
  font-size: 40px;
  font-weight: bold;
}

.another-way{
  font-size: 15px;
  font-weight: lighter;
}
.decs p{
  font-size: 20px;
}
.formPage{
  width: 70%;
  height: 100vh;
  border-radius: 45px 0 0 45px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button{
  padding: 35px 0; 
  background-color: #000;
}

/*--------------------------------------*/
