*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.formLogin h1{
  font-size: 30px;
  font-weight: bold;
}
.main{
  height:calc(100vh - 59px);
  background-color: #000;
  display: flex;
}
.Img{
  width: 30%;
  height:calc(100vh - 59px);
  background-image: url(/public/images/2.jpg);
  background-size: cover;
  background-position: left;
  display: flex;
  justify-content: center;
  position: relative;
}
.decs{
  color: #fff;
  font-size: 30px;
  width: 80%;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 25px;
}
.decs h2{
  font-size: 40px;
  font-weight: bold;
}

.signup{
  font-size: 15px;
  font-weight: lighter;
}
.decs p{
  font-size: 20px;
}
.form{
  width: 70%;
  height:calc(100vh - 59px);
  border-radius: 45px 0 0 45px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-----------------------------*/
