.companyName{
  margin-top: 2.5rem;
  font-size: 40px;
  display: flex;
  justify-content: space-around;
}
.imgCarLogo{
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.brandLaing{
  margin: 5rem 0;
  padding: 2.5rem  0;
  min-height: 50vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.imgesStyle{
  width: 150px;
  height: 150px;
}
@media only screen and (max-width: 850px) {
  .imgesStyle{
    width: 70px;
    height: 70px;
  }
  .brandLaing{
    min-height: 30vh;
    margin: 2rem 0;
  }
}
@media only screen and (max-width: 450px) {
  .imgesStyle{
    width: 50px;
    height: 50px;
  }
  .companyName{
    font-size: 20px;
  }
  .brandLaing{
    margin: 0 0;
  }
  .imgCarLogo {
    width: 77%;
  }
}