.companyName{
  font-size: 60px;
  display: flex;
  justify-content: space-around;
}
.imgCarLogo{
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.brandLaing{
  height: 40vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
