.home_card_section{
    height: 320px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 400px;
}
.wrapper{
    width: 80%;
    color: white;
    padding-top: 3rem;
}