.profile_container{
     background-color: #F6F7F9;
     min-height: 100vh ;
     display: flex;
     align-items: center;
     flex-direction: column;
     justify-content: start;

}
.profile_header{
    width: 56vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    font-size: 20px;
    color: #424B5A;
}
.over_section{
    width: 56vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:start;
}
.over_section > h2 {
    display: flex;
    align-self: flex-start;
}